<footer>
    <div class="page-footer">
        <div class="footer-copyright">
            <div class="container center">
            © 2020 Copyright WD04D4
            </div>
        </div>
    </div>
</footer>

<script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
</body>
</html>